h1 {
    text-align: center;
    font-size: 64px;
    font-weight: bolder;
    font-family: Calibri;
    color: midnightblue;
    border-style: ridge;
}
body {
    background-image: url(Whistler.jpg);
    background-attachment: fixed;
}
h2 {
    font-style: italic;
    text-align: center;
}
.table {
    margin: auto;
}
.zen {
    text-align: center;
}
a {
    color: midnightblue;
    font-weight: bolder;
}
#big {
    font-size: 96px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}
#text {
    color: white;
    text-align: center;
    background-color: steelblue;
}